.input{
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    background-color: #4c4c50;
    border: 1px solid #171c21;
    width: 100%;
    padding: 0 16px;
    min-height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    transition: all .3s ease 0s;
    position: relative;
    color: #fff;

}
.input:focus{
    border: 1px solid #034cef;
}